name: Add Contributors

on:
  issue_comment:
    types:
      - created
  pull_request_target:
    types:
      - opened

permissions:
  contents: write
  pull-requests: write

jobs:
  add-contributors:
    runs-on: ubuntu-latest
    if: ${{ github.event.comment.body && contains(github.event.comment.body, '@all-contributors') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          fetch-depth: 0

      - name: All Contributors Action
        uses: all-contributors/all-contributors-bot@v1.2.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Commit and Push
        if: success()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .all-contributorsrc README.md
          git diff-index --quiet HEAD || git commit -m "docs: update contributors [skip ci]"
          git push
